//variables
$website-width: 1280px;
$main-color: #ffc8dd;
$light-color: #f4f4f4;
$mdium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/laptop.jpg');
$icon-img: #a2d2ff; 

//Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Serif', serif;
   line-height: 1.6;
   background: #fff;
   
   
}

a {
    text-decoration: none;
    color: $dark-color;

}

ul {
    list-style: none;
}

h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}
// Logo
#logo{
    font-size: 40px;
    color: #81667A;
    text-transform: uppercase;
    font-family: 'Great Vibes', cursive;
    
}
#logo-2{
    color:#92B4A7;
}
//Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: #f7ede2;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5 rem;
        transition: border-color 0.5s;
        
        &:hover {
            border-color: $mdium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}
//Header

#header {
    &-home{
        background: $bg-image no-repeat center right / cover;
        opacity: 0.93;
        height: 100vh;
        color: #fff;

        //Header content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 3rem;
                line-height: 1.2;
            }
            .txt-type {
                
                background: url(https://media.giphy.com/media/MyWrJJIdAfoJuEPlLP/giphy.gif);
                background-size: cover;
                background-position: center;
                color: transparent;
                -webkit-background-clip: text;   
            }
        }


    }

    // Header inner
    &-inner{
        background: $bg-image no-repeat 20% 30% / cover;
        opacity: 0.93;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;

    }
}

// home sections
#home {
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1 rem;
            grid-template-columns: repeat(3, 1fr);
            list-style: none;

            .fas {
                color: $icon-img;
                padding-bottom: .4rem;
            }
        }
    }

    &-b {
        .stats {
            display:grid;
            grid-template-columns: repeat(4,1fr);

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }
                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 3rem;

                &:nth-child(odd) {
                    background-color:$light-color
                }
                
                &:nth-child(even) {
                    background-color: $mdium-color;
                }
            }
        }
    
    }
    &-c {
        text-align: center;
        .process {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1.5rem;
            
            &-step {
                position: absolute;
                top: 0;
                right: 0;
                font-size:28px;
                background: $light-color;
                color: set-text-color($light-color);
                border-radius:50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;

            }
            &-icon {
                border-radius: 50%;
                background: $dark-color;
                color: set-text-color($dark-color);
                padding: 2rem;
                width: 70px;
                height: 70px;
                line-height:70px;
                text-align: center;
                position: relative;
                transition: all 1s;

                &:hover {
                    background: $main-color;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    
                    .process-step {
                        background: $dark-color;
                        color: set-text-color($dark-color)
                    }
                }


            }
        }
    }

}
#technology {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

//Utilities
.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

// Buttons
%btn-shared {
    border-radius: 8px 20px;
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #333;
        background-color: $main-color;
    }
    &-light {
        @extend %btn-shared;
        color: #333;
        background-color: $light-color;
    }
    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background-color: $dark-color;
    }

}
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn']:hover {
    background-color: $main-color;
}

// Backgrounds
.bg {
    &-main {
        background: $main-color;
        color: set-text-color($main-color);

    }
    &-dark {
        background: $dark-color;
        color: set-text-color($dark-color);

    }
    &-light {
        background: $light-color;
        color: set-text-color($light-color);

    }
    &-medium {
        background: $mdium-color;
        color: set-text-color($mdium-color);

    }
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}

//padding
.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background-color: $main-color;
    display:block;
    margin:0 auto 1rem auto;
}
.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: .5rem;
    text-align: center;
    font-weight: 100;
}

// about section
#about {
    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
                'bioimage bio bio'
                'aw1 aw2 aw3';
            grid-gap: 1.2rem;
        
        }

        .bio-image{
            grid-area: bioimage;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        .bio {
            grid-area: bio;
            border-left: 3px solid $main-color;
        }
        .award-1{
            grid-area: aw1;
        }
        .award-2{
            grid-area: aw2;
        }
        .award-3{
            grid-area: aw3;
        }

        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas {
            color: #00f5d4;
        }
    }
    &-b {
        .progress {
            overflow: hidden;
            height: 20px;
            background: $mdium-color;
            border-radius: 5px;
            margin-bottom: .3rem;
            div {
                height: 100%;
                color: #fff;
                text-align: center;
                background: #00f5d4;
            }

        }
        
    }
    //about-c
    &-c {
        .about-logos{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 2rem;

            img {
                width: 50px;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }

    }
}

// footer
#main-footer {
    background: $dark-color;
    color:#fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fab{
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width:20px;
            text-align: center;
            padding: 0.5rem;

            &:hover {
                background: $main-color;

            }
        }
    }

}

// work Page


.more-info {
    margin: 1.5em 5em;
    text-align: center;
    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc {
        
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 920px) {

    .feature {
        margin: 0rem 15rem;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 8em;

        img {
            width: 30em;
            height:15em;
        }

        .content {
            text-align: right;
            width: 25em;
            .title{
                text-align: center;
            }
            .desc{
                text-align: center;
            }
        }
    }

    .feature.left {

        grid-template-areas: 
            "left right";
        
        a {
            grid-area: left;
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
        
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}
